#ATF {
    background: 
        url(/assets/images/photo_2025-04-28_16-09-15.jpg),
        var(--mainColourDark) 
        no-repeat;
    background-blend-mode: overlay;
    background-position-y: bottom;
    background-size: 100%;
    color: var(--bgColour);
    width: 100%;
    height: 700px;
    padding: 80px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
} 

#name {
    font-size: 180px;
    line-height: 180px;
}

#occupation {
    width: fit-content;
    align-self: flex-end;
    
    flex-direction: column;
    align-items: flex-end;
}

#occupation h2{
    font-family: monospace;
    font-size: 30px;
    padding: 23px;
    padding-left: 40px;
    align-self: flex-end;
    color: var(--bgColour)
}