---
---

@import "variables";
@import "header";
@import "footer";
@import "aboveTheFold";

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainColourDark);
    font-family: monospace;
    padding: 0px;
    overflow-x: hidden;
}

#page {
    position:relative;
    text-align: center;
    width: 100%;
}

#topTriangle {
    z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 100vw solid transparent;
	border-top: 900px solid var(--bgColour);
}

#bottomTriangle {
    z-index: -1;
	position: absolute;
    bottom: 0;
	width: 0;
	height: 0px;
	border-left: 100vw solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 900px solid var(--bgColour);;
}

#profile {
    display: flex;
}

#profile span {
    margin: 70px;
}

#education {
    display: flex;
}

#education span {
    margin: 70px;
}

#experience {
    display: flex;
}

#experience span {
    margin: 70px;
}

#skills {
    display: flex;
}

#skills span {
    margin: 70px;
}

#projects {
    display: flex;
}

#projects span {
    margin: 70px;
}