---
---

@import "header";
@import "footer";
@import "aboveTheFold";

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: #dda15e;
    font-family: monospace;
    padding: 0px;
}

#page {
    padding: 30px;
    text-align: center;
}

#profile {
    display: flex;
}

#profile span {
    margin: 70px;
}