<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ '/assets/js/main.js' | relative_url}}"></script>
        <meta charset="utf-8">
    </head>

    {% include header.html %}

    {% include aboveTheFold.html %}

    <div id="page">
        {% include triangleBackground.html %}
        <div id="mainBody">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</html>